<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <img width="100%" src ="/images/logo-mercado-liebre.svg" alt = "Foto del Logo"></div>
        <p>Barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="https://google.com">Ofertas</a></li>
                <li><a href="https://google.com">Tiendas Oficiales</a></li>
                <li><a href="https://google.com">Vender</a></li>
                <li><a href="https://google.com">Ayuda</a></li>
                <br>
                <li><a href="https://google.com">Creá tu cuenta</a></li>
                <li><a href="https://google.com">Ingresá</a></li>
                <li><a href="https://google.com">Mis compras</a></li>
            </ul>
        </nav>
        </header>
        <div>
            <img width="100%" src="/images/img-home-banner.jpg" alt="Imagen banner">
        </div>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera">
            <p>$6.770<br>40% OFF<br><strong>Cafetera Moulinex</strong></p>
            <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="Imagen cafetera">
            <p>$230.000<br>20% OFF<br><strong>Pro 2019</strong></p>
            <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen cafetera">
            <p>$70500<br>10% OFF<br><strong>Samsung Galaxy S10</strong></p>
            <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="Imagen cafetera">
            <p>$23200<br>5% OFF<br><strong>SmartTv Samsung 43</strong></p>
        </section>
        
        <section>
            <h3>Sección ofertas</h3>
            <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera">
            <p>$6.770<br>40% OFF<br><strong>Cafetera Moulinex</strong></p>
            <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="Imagen cafetera">
            <p>$230.000<br>20% OFF<br><strong>Pro 2019</strong></p>
            <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen cafetera">
            <p>$70500<br>10% OFF<br><strong>Samsung Galaxy S10</strong></p>
            <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="Imagen cafetera">
            <p>$23200<br>5% OFF<br><strong>SmartTv Samsung 43</strong></p>
        </section>
    </main>
    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </section>
        <div>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>   
</body>
</html>